<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="eevblog.x121gw" android:versionCode="7" android:versionName="1">
	<uses-sdk />
	<application android:label="121GW.Android" android:hardwareAccelerated="true"></application>
</manifest>