<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Native.Compiler" version="2.1.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.0-Preview1-26502-02" targetFramework="xamarinios10" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.BLE" version="2.0.0-pre1" targetFramework="xamarinios10" />
  <package id="runtime.win10-arm.Microsoft.Net.Native.Compiler" version="2.1.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="runtime.win10-arm.Microsoft.Net.Native.SharedLibrary" version="2.1.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="runtime.win10-x64.Microsoft.Net.Native.Compiler" version="2.1.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="runtime.win10-x64.Microsoft.Net.Native.SharedLibrary" version="2.1.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="runtime.win10-x86.Microsoft.Net.Native.Compiler" version="2.1.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="runtime.win10-x86.Microsoft.Net.Native.SharedLibrary" version="2.1.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="SkiaSharp" version="1.60.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Extended" version="1.60.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.60.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.60.2" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.1.0-preview.84" targetFramework="xamarinios10" />
  <package id="System.Reactive.Core" version="4.1.0-preview.84" targetFramework="xamarinios10" />
  <package id="System.Reactive.Linq" version="4.1.0-preview.84" targetFramework="xamarinios10" />
  <package id="System.Reactive.PlatformServices" version="4.1.0-preview.84" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.1.0.583944" targetFramework="xamarinios10" />
</packages>